// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, #home {
  background-color: #8fdbda !important;
}

#refer .refer-wrapper {
  $refer-wrapper-height: 660px;
  background-color: #fff;
  .wrapper-left {
    min-height: $refer-wrapper-height;
    background: url("home/hands_1.png") no-repeat center center #fff;
    background-size: cover;

    overflow: hidden;
    position: relative center center;
    letter-spacing: .09em;
    margin: 0 auto;
    
    .wrapper-left-text {
      color: #FFF;
      font-size: 41px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 371px 0 0 20px;
      display: block;
      line-height: 56px;
      text-align: center;
      overflow: hidden;
      float: left;
      letter-spacing: .13em;
    }
  }  

  .wrapper-right {
    .share-wrap {
      max-height: $refer-wrapper-height;
    }
  }
}

.wrapper {
  background: url('home/main_bg.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative center center;
  letter-spacing: .09em;
  margin: 0 auto;
}


.home-header {
  .header-top {
    background: #558ec6;
    line-height: 50px;
    font-family: 'Ubuntu', sans-serif;
  }
  p {
    text-align: center;
    color: #fff;
    font-size: 40px;
  }
  .header-bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    &:after {
      display: block;
      clear: both;
      content: " ";
    }

    position: relative;

    .header-slogan {
      margin-top: 16%;
      margin-left: 13%;
      h1 {
        
        font-weight: bold;
        color: #8fdbda;
        font-size: 70px;
      }
      h2 {
        font-weight: bold;
        color: #fff;
        font-size: 40px;
      }
    }
    .header-phone {
      // padding: 10px 0;
      // position: relative;
      // margin-right: 200px;
      // float: right;
    }
  }
}
.home-body {
  // background: #8fdbda;
  margin-top: 20px;
  .home-man {
    text-align: center;
  }
  .man-img {
    margin-top: 20px;
    margin: 0 auto;
  }
  p {
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    color: #dd3e08;
  }
  .mail-form {
    margin-top: 10px;
    text-align: center;
  }
  
}